.clearfix {
	clear: both;
}

.eupopup-container {
	background-color: #1b1b1b;
	color: #9c9c9c;
	padding: 5px 20px;
	font-size: 12px;
	line-height: 1.2em;
	text-align: center;
	display: none;
	z-index: 9999999;
}

.eupopup-container-top,
.eupopup-container-fixedtop {
	position: absolute;
	top: 0; left: 0; right: 0;
}

.eupopup-container-fixedtop {
	position: fixed;
}

.eupopup-container-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.eupopup-container-bottomleft {
	position: fixed;
	bottom: 10px;
	left: 10px;
	width: 300px;
}

.eupopup-container-bottomright {
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 300px;
}

.eupopup-closebutton {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 100;
    line-height: 1;
    color: #a2a2a2;
    filter: alpha(opacity=20);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    padding: 5px 10px;
}
.eupopup-closebutton:hover,
.eupopup-closebutton:active {
	color: #fff;
	text-decoration: none;
}

.eupopup-head {
display: none;
}

.eupopup-body {
    color: #a2a2a2;
    font-size: .9rem;
    line-height: 1.3;
}

.eupopup-buttons {
    padding: 16px;
}

.eupopup-button_1 {
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    border: 1px solid #0061fe;
    padding: 4px 8px;
}

.eupopup-button_2 {
	color: #f6a21d;
	font-weight: normal;
	font-size: 12px;
}

.eupopup-button {
	margin: 0 10px;
}

.eupopup-button:hover,
.eupopup-button:focus {
	opacity: .8;
}

body .eupopup-color-inverse {
	color: #000;
	background-color: rgba(255, 255, 255, 0.9);
}

body .eupopup-color-inverse .eupopup-head {
	color: #000;
}

body .eupopup-style-compact {
	text-align: left;
	padding: 8px 30px 7px 20px;
	line-height: 15px;
}

body .eupopup-style-compact .eupopup-head,
body .eupopup-style-compact .eupopup-body,
body .eupopup-style-compact .eupopup-buttons {
	display: inline;
	padding: 0;
	margin: 0;
}

body .eupopup-style-compact .eupopup-button {
	margin: 0 5px;
}

.eupopup-body a{color: inherit;font-family: GothamProMedium;}